.bg-container {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 100vh;
}

.bottom-text-container-hd {
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
    color: #323f4b;
}

.bottom-text-container-pg {
    font-size: 12px;
    font-family: Roboto;
    font-weight: 500;
    color: #9aa5b1;
}