
.shop-container {
    background-color: #894bca;
    height: 70%;
    padding-top: 7px;
}

.shop-image {
    height: 125px;
}

.top-heading {
    font-family: "bree serif";
    font-size: 23px;
    color: white;
}

.bottom-container {
    background-color: white;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.bottom-hd {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 550;
    color: #f780c3;
}

.sub-image {
    height: 50px;
}

.sub-hd {
    font-family: "Roboto";
    font-size: 19px;
    font-weight: bold;
    color: #323f4b;
}

.sub-pg {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #7b8794;
}